{% extends 'main/_base.html' %}

{% block title %} All Devices {% endblock %}

{% block content %}
<div class="section">
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">All Devices</h2>
                <hr>
                <p align="right"><a href="/refresh_all"><button class="btn btn--primary">Refresh all devices</button></a></p>
                <div class="responsive-table">
                    <table class="table table--lined table--selectable">
                        <thead>
                            <tr>
                                <th class="sortable">Hostname</th>
                                <th class="text-center">IP address</th>
                                <th class="text-center hidden-xs-down">Device Model</th>
                                <th class="hidden-md-down">IOS XE Version</th>
                                <th class="hidden-mg-down">Serial Number</th>
                                <th class="hidden-ld-down">Uptime</th>
                                <th class="hidden-lg-down">Last Database Update</th>
                            </tr>
                        </thead> <!-- icon-switch-outline icon-router-outline -->
                        <tbody>
                            {% for device in response_output %}
                            <tr>
                                <td>
                                    <span class="icon-switch-outline icon-size-20 half-margin-right text-light"></span>
                                    <a href="/devices/{{ device.pk }}">{{ device.fields.hostname }}</a>
                                </td>
                                <td class="text-center">{{ device.fields.ip }}</td>
                                <td class="text-center hidden-xs-down">{{ device.fields.part_number }}</td>
                                <td class="hidden-md-down">{{ device.fields.ios_version_brief }}</td>
                                <td class="hidden-md-down">{{ device.fields.serial_number }}</td>
                                <td class="hidden-lg-down">{{ device.fields.uptime }}</td>
                                <td class="hidden-lg-down">{{ device.fields.last_update }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}