{% extends 'main/_base.html' %}

{% block title %} Add Single Device {% endblock %}

{% block content %}
{{ response_output | json_script:"response_output" }}
<script>task_status("task_content")</script>
<div class="section">
    <div class="row">
        <div class="col-xl-5">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">Get raw JSON device data</h2>
                <hr>
                <form method="post" action="/raw_json/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="get_json" class="btn btn--primary">Get show run in JSON format</button>
                </form>
                <div id="status_box"></div>
            </div>         
        </div>
        <div class="col-xl-7">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">What does it do?</h2>
                <hr>
                <div class="alert alert--info">
                    <div class="alert__icon icon-info-outline"></div>
                    <div class="alert__message">
                        <p>This will return the running-configuration of your IOS XE device in JSON format.</p>
                        <p>Try it out with the always-on <a href="https://devnetsandbox.cisco.com/" target="_blank">DevNet sandbox</a>:</p>
                        <ul>
                            <li>Address: sandbox-iosxe-latest-1.cisco.com</li>
                            <li>Username: admin</li>
                            <li>Password: C1sco12345</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">Output</h2>
                <hr>
                <pre><code id="result"></code></pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}